DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=
DB_PORT=

# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production-min-32-chars
JWT_EXPIRATION= 900
JWT_REFRESH_SECRET=your-refresh-secret-key-change-in-production-min-32-chars
JWT_REFRESH_EXPIRATION=7d